.pressed {
    transition: transform 0.05s;
    transform: scale(1, 0.98);
}

@keyframes unpressed {
    0% {transform: scale(1, 0.98);}
    100% {transform: scale(1);}
}

.unpressed {
    animation-name: unpressed;
    animation-duration: 0.05s;
}
