.controls {
    margin: 1vh 0;
}

td {
    width: 33.33%
}

#controlsTable {
    width: 100%;
}

#volumeControl {
    float: right;
}

#seekBar {
    width: 100%;
}

#damper {
    width: 100%;
}

@keyframes visualizer {
    0% {}
    100% {transform: translateY(-1000%);}
}

.visualizerAnimation {
    animation-name: visualizer;
    animation-timing-function: linear;
    animation-duration: 20s;
}

#visualizer {
    margin-bottom: 0;
    padding-bottom: 0;
}
#kb {
    margin-top: 0;
    padding-top: 0;
}

#titleText {
    position: absolute;
}